.fade-anim img {
    animation: fadeAnim 1.3s ease-out;
  }
  @keyframes fadeAnim {
    0%{
      opacity: 0.1;
    }
    100% {
      opacity: 0.9;
    }
  }

@tailwind base;
@tailwind components;
@tailwind utilities;